<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>160194153695-et4c8gcte034f6fgqtf9qj8e316m06bj.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.160194153695-et4c8gcte034f6fgqtf9qj8e316m06bj</string>
	<key>API_KEY</key>
	<string>AIzaSyDBbwRgYbPfp8VTCITnz40bC0wd5jrESu4</string>
	<key>GCM_SENDER_ID</key>
	<string>160194153695</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.dsdprofessionaldevelopment</string>
	<key>PROJECT_ID</key>
	<string>blendedlearning-startkit</string>
	<key>STORAGE_BUCKET</key>
	<string>blendedlearning-startkit.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:160194153695:ios:95494dea600efc69f26d6a</string>
	<key>DATABASE_URL</key>
	<string>https://blendedlearning-startkit.firebaseio.com</string>
</dict>
</plist>